

/* base styles */
* {
  margin: 0;
  font-family: FuturaPT, helvetica, sans-serif;;
  color: #000;
}
body {
  background-color: #fff;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f6b26b;
  background-color: #f6b26b;
}
.navbar h1 {
  color: #bf6609;
  align-items: center;
}
.navbar .links {
  margin-left: auto;
}
.navbar .new {
  color: white;
  background-color: #cd5c5c;
  border-radius: 10px;
}
.navbar a {
  margin-left: 50px;
  text-decoration: none;
  padding: 6px;
  border-radius: 10px;
  color: #bf6609;
}
.navbar a:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

/* recipe previews / list */
.recipe-list h2 {
  color: #cd5c5c;
}
.recipe-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #cd5c5c;
}
.recipe-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.5);
}
.recipe-preview h2 {
  font-size: 20px;
  color: #000;
  margin-bottom: 8px;
}
.recipe-preview a{
  text-decoration: none;
}

/* recipeInfo */
.recipe-info h2 {
  font-size: 30px;
  color: #cd5c5c;
  margin-bottom: 10px;
}
.recipe-info h4 {
  color: #bf6609
}
.recipe-info p {
  color: #bf6609;
  background-color: #f9cb9c;
  border-radius: 10px;
  padding: 6px;
  text-decoration: none;
  margin-right: 660px;
  text-align: center;
  margin-left: 40px;
}
.recipe-info div {
  font-size: 20px;
  margin: 20px 0;
  line-height: 1.5;
  text-align: justify;
  color: #565656;
}
.recipe-info ul {
  line-height: 20pt;
  text-indent: -5%;
}

/* NewRecipe  */
.NewRecipe {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.NewRecipe label {
  text-align: left;
  display: block;
}
.NewRecipe h2 {
  font-size: 24px;
  color: #bf6609;
  margin-bottom: 30px;
}
.NewRecipe p {
  font-size: 14px;
  text-align: left;
  padding-top: 4px;
  color: #f6b26b;
}
.NewRecipe input, .NewRecipe textarea, .NewRecipe select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.NewRecipe button {
  background: #cd5c5c;
  color: #fff;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.NewRecipe .submitted {
  color: white;
  background-color: #bf6609;
  border-radius: 10px;
}
