

/* base styles */
* {
  margin: 0;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #000;
}
body {
  background-image: linear-gradient(90deg, #cd5c5c 0%, #f9cb9c 100%);
  color: #EA4C46;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #fff;
}
.navbar h1 {
  color: #fff;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 20px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #20b2aa;
}
.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

